apiVersion: v1
kind: Service
metadata:
  name: task-manager-api
  labels:
    app: task-manager-api
spec:
  type: LoadBalancer
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: task-manager-api
